{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'assets/css/title.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/loader.css' %}" />
</head>

<body>
    <div id="overlay">
        <div class="loader">
            <div class="square"></div>
            <div class="square"></div>
            <div class="square last"></div>
            <div class="square clear"></div>
            <div class="square"></div>
            <div class="square last"></div>
            <div class="square clear"></div>
            <div class="square "></div>
            <div class="square last"></div>
        </div>
    </div>
    <div class="title-nav-container">
        <header>
            <div class="title">

                <h3>
                    VRIDDHI Report Generation
                </h3>
            </div>
        </header>
    </div>

    <div class="top-container">
        <div class="login-form-container">
            <div class="login-icon">
                <h3>Details</h3>
            </div>

            <form>
                <div>
                    <label for="member_id">Member Id</label>

                    <input type="text" id="member_id" name="member_id" placeholder="Member Id" />
                </div>
                <div>
                    <label for="start_date">Start Date</label>
                    <input type="date" id="start_date" name="start_date" />
                </div>
                <div>
                    <label for="end_date">End Date</label>

                    <input type="date" id="end_date" name="end_date" />

                </div>
                <div>
                    <input type="text" id="url" value="{% url 'fetch-transactions' %}" disabled hidden>
                    <button type="button" id="search">Search</button>
                </div>
            </form>


        </div>
            <table class="table table-bordered table-striped table-dark" id="transactions_table">
                <thead class="thead-light">
                    <tr>
                        <th scope="row" colspan="8">
                            <p>Select Account Number</p>
                            <select id="account_nums">
                                <option value="default">All Data</option>
                            </select>
                        </th>
                    </tr>
                </thead>
                <thead class="thead-dark">
                    <tr>
                        <th scope="row">Id</th>
                        <th scope="row">Account Number</th>
                        <th scope="row">Date</th>
                        <th scope="row">Amount</th>
                        <th scope="row">CRDR</th>
                        <th scope="row">Transaction Type</th>
                        <th scope="row">Rule</th>
                        <th scope="row">Transaction Type Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8" id="no_data">No Data Available</td>
                    </tr>
            
                </tbody>
            </table>

    </div>

    <script src=" {% static 'assets/js/jquery.min.js' %}"></script>
    <script src=" {% static 'assets/js/jquery.validate.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
    <script src="{% static 'assets/js/index.js' %}"></script>
</body>

</html>